.modalDetail {
  :global {
    .ant-modal-content {
      .ant-modal-header {
        padding-bottom: 0px;
        margin-bottom: 0px;
        .ant-modal-title {
          justify-content: space-between;
        }
      }
    }
  }
}
.body {
  .viewBtn {
    padding-top: 32px;
    .btnSubmit {
      :global {
        .ant-btn {
          width: 100%;
          height: 56px;
          border-radius: 16px;
        }
      }
    }
  }
}
