.container {
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .headerBackground {
    background-image: url('../../../assets/images/img_bg_news.svg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;

    .title {
      font-size: 52px;
      font-weight: 700;
      color: #36404e;
      margin-bottom: 16px;
    }

    .subTitle {
      font-size: 16px;
      font-weight: 400;
      color: #36404e;
      margin-bottom: 24px;
    }

    .line {
      width: 315px;
      object-fit: cover;
    }

    .viewListNews {
      margin-top: 64px;
      display: flex;
      flex-direction: column;

      .viewFeaturedNews {
        flex-direction: column;
        padding: 0px 348px;

        .highlightNewsTag {
          display: inline-block;
          background-color: #26418e;
          color: white;
          font-size: 18px;
          font-weight: 700;
          padding: 8px 24px;
          text-transform: uppercase;
          margin-bottom: 24px;
        }

        .containerFeatureNews {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 24px;
          flex: 1;
        }
      }

      .viewTDPNews {
        flex-direction: column;
        padding: 0px 348px;
        margin-top: 64px;

        .highlightNewsTag {
          display: inline-block;
          background-color: #26418e;
          color: white;
          font-size: 18px;
          font-weight: 700;
          padding: 8px 24px;
          text-transform: uppercase;
          margin-bottom: 24px;
        }

        .containerTDPNews {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 24px;
          flex: 1;
        }

        .pagination {
          margin-top: 32px;
          text-align: center;

          .ant-pagination-item-active {
            background-color: #26418e;
            border-color: #26418e;

            a {
              color: white !important;
            }
          }
        }
      }
    }

    .noData {
      font-size: 20px;
      font-weight: 400;
      color: #6b7076;
      margin-top: 64px;
      font-style: italic;
    }
  }
}
