.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, 250px) minmax(100px, 250px);
  gap: 5px;
  .img {
    object-fit: cover;
    height: 100%;
  }
}

.container1 {
  & > * {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.container2 {
  & > * {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.container3 {
  grid-template-columns: 1.2fr 1fr;
  & > *:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
