$header-bg-color: grey;
$header-text-color: white;

.header {
  color: $header-text-color;
  padding: 16px 348px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 99;
  width: 100%;

  .logo {
    .logoImage {
      width: 60px;
      height: auto;
    }
  }

  &Nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      position: relative;

      &:hover .submenu {
        display: block;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 32px;
    }

    a {
      color: $header-text-color;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .language {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .languageImg {
    width: 30px;
    height: auto;
  }

  .dropdown {
    position: absolute;
    top: 120%;
    left: 0;
    background-color: white;
    border: 0px solid #ccc;
    border-radius: 8px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .dropdownItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    .txtLanguage {
      color: black;
      margin: 0px;
      margin-left: 5px;
    }

    &:hover {
      background-color: #f0f0f0;
      border-radius: 8px;
    }
  }

  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 4px;
    z-index: 10;
    width: 270px;
    // margin-top: 5px;

    .submenuItem {
      display: block;
      text-decoration: none;
      color: #2b323b;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 12px;
      border-radius: 8px;

      &:hover {
        background-color: #e6edff;
      }
    }
  }

  // .submenu {
  //   position: absolute;
  //   background-color: #fff;
  //   border-radius: 12px;
  //   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  //   padding: 4px;
  //   z-index: 10;
  //   width: 270px;
  //   margin-top: 5px;

  //   .submenuItem {
  //     display: block;
  //     text-decoration: none;
  //     color: #2b323b;
  //     font-size: 16px;
  //     font-weight: 700;
  //     padding: 8px 12px;
  //     border-radius: 8px;

  //     &:hover {
  //       background-color: #e6edff;
  //       border-radius: 8px;
  //     }
  //   }
  // }
}

.drawerLanguage {
  margin-top: 20px;
  position: relative;

  .langToggle {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;

    .languageImg {
      width: 30px;
      height: 30px;
    }

    .languageText {
      font-size: 16px;
      color: #36404e;
    }
  }

  .langDropdown {
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    .dropdownItem {
      display: flex;
      align-items: center;
      padding: 6px 12px;
      cursor: pointer;

      .languageImg {
        width: 24px;
        height: 24px;
      }

      .txtLanguage {
        margin-left: 8px;
        font-size: 14px;
        color: #36404e;
      }

      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}

.menuIcon {
  display: none;
}

.drawer {
  display: none;
}

/* ====================== Responsive Styles ====================== */
@media (max-width: 1200px) {
  .header {
    padding: 16px 200px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 16px 80px;

    .headerNav,
    .language {
      display: none;
    }

    .menuIcon {
      display: block;
      cursor: pointer;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  .drawer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 20px;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 12px;

        .drawerItem {
          display: block;
          font-size: 16px;
          font-weight: bold;
          color: #333;
          cursor: pointer;
          padding: 8px 0;
          // text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .drawerSubmenu {
          padding-left: 16px;
          margin-top: 4px;

          .drawerSubmenuItem {
            display: block;
            font-size: 15px;
            padding: 6px 0;
            color: #444;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .drawerLanguage {
      margin-top: 24px;

      p {
        margin: 8px 0;
        cursor: pointer;
        color: #36404e;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding: 16px 30px;

    .logo {
      .logoImage {
        width: 50px;
        height: auto;
      }
    }
  }

  .drawer {
    width: 85%;
  }
}
