.card {
  background-color: #f3f6fb;
  overflow: hidden;
  height: 344px;
}

.imageWrapper {
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}

.name {
  padding: 20px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #36404e;
}
