.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 348px;

    .headerBack {
      display: flex;
      align-items: center;

      .titleBack {
        font-size: 16px;
        font-weight: 400;
        color: #6b7076;
        padding-top: 3px;
      }

      .arrowLeft {
        margin-right: 8px;
      }
    }

    .content {
      margin-top: 40px;
    }
  }
}
